.backcolor {
  color: #F5F5F5;
}

.textcolor {
  color: #000000;
}

.lightaccent {
  color: #14A44D;
}

.darkaccent {
  color: #1D4F03;
}

.contrastcolor {
  color: #FE0000;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F5;
  min-height: max-content;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2em;
}

h4 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.home-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.page-title {
  color: #000000;
}

.contact-phone {
  display: inline-block;
  background-color: #14A44D;
  border-radius: 10px;
  color: #F5F5F5;
}

/* .contact-email {
  display: inline-block;
  background-color: #1D4F03;
  border-radius: 10px;
  color: #14A44D;
} */

.contact-email a:link {
  color: #14A44D;
}

.contact-email a:visited {
  color: #1D4F03;
}

.contact-email a:hover {
  color: #FE0000;
}

.contact-email a:active {
  color: #000000;
}

.contact-city {
  display: inline-block;
  background-color: #14A44D;
  border-radius: 10px;
  color: #F5F5F5;
}

.home-blurb {
  text-align: center;
}

.home-blurb span {
  color: #FE0000;
}

.home-blurb p a:link {
  color: #14A44D;
}

.home-blurb p a:visited {
  color: #1D4F03;
}

.home-blurb p a:hover {
  color: #FE0000;
}

.home-blurb p a:active {
  color: #000000;
}

.home-intro {
  margin-bottom: 1.5rem;
}

.home-text p {
  font-size: 14px;
}

.home-text h4 span {
  color: #FE0000;
}

.home-text p a:link {
  color: #14A44D;
}

.home-text p a:visited {
  color: #1D4F03;
}

.home-text p a:hover {
  color: #FE0000;
}

.home-text p a:active {
  color: #000000;
}

.contact-bar {
  display: flex;
  justify-content: space-evenly;
}

.contact-welcome {
  text-align: center;
}

.navigation .logo {
  height: 100px;
  padding: 0;
}

.nav-links,
.contacts {
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.nav-links a {
  font-weight: bold;
  margin: 0 12px;
  padding: 0 0 4px 0;
}

.nav-links a:link {
  color: #14A44D;
}

.nav-links a:visited {
  color: #1D4F03;
}

.nav-links a:hover {
  color: #FE0000;
}

.nav-links a:active {
  color: #000000;
}

.contacts a {
  font-weight: bold;
  margin: 0 12px;
  padding: 0 0 4px 0;
}

.contacts a:link {
  color: #14A44D;
}

.contacts a:visited {
  color: #1D4F03;
}

.contacts a:hover {
  color: #FE0000;
}

.contacts a:active {
  color: #000000;
}

.face {
  vertical-align: middle;
}

.face img {
  height: 100px;
  float: left;
}

.second-face {
  vertical-align: middle;
}

.second-face img {
  height: 200px;
  float: right;
  mix-blend-mode: multiply;
}

.project-header {
  text-align: center;
  margin-bottom: 12px;
}

.project-grid {
  margin-top: 12px;
}

.project-photo {
  height: 250px;
  object-fit: contain;
}

/* input[type=checkbox]{
  accent-color: #14A44D;
} */

input[type=checkbox]:checked{
  background-color: #14A44D !important;
  border-color: #14A44D !important;
}

/* for some reason I cannot overwrite the "flush" styling inherit to the react-bootstrap set up, so adding a column gap permanently removes the left borders from all cards to the right of the first in each group */
.card-group {
  margin-bottom: 2rem;
  /* column-gap: 2rem; */
}

.card-footer {
  text-align: center;
}

.card .btn {
  width: 100px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  /* expanding so that the footer covers the full bottom of the screen */
  min-height: calc(100vh - 50px);
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 32px 24px 12px;
}

.copyright {
  font-size: 10px;
  margin: 10px;
}

/* this was the noticeable break point where things started disorting, add adjustments for small screens here as needed! */
@media (max-width: 767px) {
  img {
    float: none;
  }

  .face {
    display: flex;
    justify-content: center;
  }

  .second-face {
    display: flex;
    justify-content: center;
  }

  .contact-bar {
    font-size: 12px;
  }

  .face {
    margin-bottom: 12px;
  }

  .second-face {
    margin-top: 12px;
  }

  .card .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
